<%- include('layout/header') -%>
  <h1><%= title %></h1>
  <p>EJS Welcome to <%= title %></p>
  <button class="btn btn-primary btn-sm">click me</button>
  <%- include('components/userinfo', {self}) -%>
  <%- include('components/bloglist', {blogList}) -%>
<%- include('layout/footer', {bsjs: true}) -%>
